/* disable these when you're done */
/* .ui-grid-container-one {
  background-image: url('/images/grid-1.png');
} */
/* .ui-grid-container-two {
  background-image: url('/images/grid-2.png');
} */
/* .ui-grid-container-three {
  background-image: url('/images/grid-3.png');
} */
/* your CSS goes here */

*{
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
}

.ui-grid-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.fill{
  background-color: #6495ed;
}

.grid2-fill{
  grid-row: span 2;
  grid-column: span 4;
  background-color: #ed64a4;
}

.grid-item1{
  grid-row: span 5;
  grid-column: span 4;
  background-color: #6495ed; 
}

.grid-item2{
  grid-row: span 5;
  background-color: #ed64a4; 
}



h1{
  display: inline-block;
  position: absolute;
  bottom: 100px ;
  left: 300px;
  margin: 0;
  font-size: 680%;
  color: #d0166d;
}